
#white {
    -fx-fill: #eee;
    -fx-stroke: #111827;
    -fx-stroke-width: 1px;
    -fx-arc-height: 5px;
    -fx-arc-width: 5px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

#black {
    -fx-fill: #111827;
    -fx-arc-height: 5px;
    -fx-arc-width: 5px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

StackPane {
    -fx-cursor: hand;
}

#text {
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;
    -fx-cursor: hand;
    -fx-font-family: Arial;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
